* {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    margin: 0;
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 375px;
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

.closeBtn {
    position: absolute;
    top: 10px;
    align-self: flex-end;
    order: -1;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 100px;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    display: flex;
    justify-content: center;
}

.modal h1 {
    font-size: 1.6rem;
}

.modal ul {
    padding: 0;
}

.modal li {
    font-size: 1rem;
    list-style: none;
    padding-bottom: 7px;
}

@media only screen and (min-width: 390px) {
    .modal li {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 305px) {
    .modal {
        padding: 25px;
    }
}
